@import url(http://weloveiconfonts.com/api/?family=entypo);

$sidebar-width: 260px;
$sidebar-left-space: 266px;

@import "apidocs/global",
"apidocs/sidebar",
"apidocs/content",
"apidocs/heading-bar",
"apidocs/subnav",
"apidocs/ui-switch",
"apidocs/button",
"apidocs/table",
"apidocs/panel",
"apidocs/forms",
"apidocs/modal",
"apidocs/animation";

// HACKY STYLES
.content-block {
  margin-bottom: 30px;
}

ul.entypo-ul {
  li {
    display: inline-block;
    font-size: 20px !important;
    line-height: 28px !important;
  }
}

.emoji-font {
  font-family: "Apple Color Emoji";
  font-size: 20px !important;
  line-height: 28px !important
}


h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 13px;
}