<div class="mars-accordion-section" id="section-filter">
  	<div ng-click="toggleHeading($event)" data-target="#section-filter-content" class="row mars-accordion-header">
        <div class="col-sm-4 col-md-6">
            <h3>
             	<i ng-hide="collapse" class="fa fa-angle-down"></i>
             	<i ng-show="collapse" class="fa fa-angle-right"></i>
             	Search for Commodities
            </h3>
        </div>
  	</div>
	<div id="section-filter-content" class="mars-accordion-content clearfix">
		<div class="col-sm-4">
			<b>Commodities</b>

			<p>Type</p>
            <select name="commodityType" chosen search-contains="true" placeholder-text-single="'Select type'"
                    ng-model="filter.commodityType" class="form-control">
                <option ng-repeat="commodityType in commodityTypes track by $index" value="{{commodityType}}">{{commodityType}}</option>
            </select>

            <div ng-show="filter.commodityType == 'Commodity'">
				<p>Commodity</p>
	            <select name="commodity" chosen search-contains="true" placeholder-text-single="'Select commodity'"
	                    ng-model="filter.commodity" class="form-control">
	                <option ng-repeat="commodity in commodities track by $index" value="{{commodity.commodity}}">{{commodity.commodity}}</option>
	            </select>
            </div>

            <div ng-show="filter.commodityType == 'Office'">
				<p>Office</p>
	            <select name="office" chosen search-contains="true" placeholder-text-single="'Select office'"
	                    ng-model="filter.office" class="form-control">
	                <option ng-repeat="office in offices track by $index" value="{{office.office_name}}">{{office.office_name}}</option>
	            </select>
            </div>

            <div ng-show="filter.commodityType == 'Report'">
				<p>Report</p>
	            <select name="report" chosen search-contains="true" placeholder-text-single="'Select report'"
	                    ng-model="filter.report" class="form-control">
	                <option ng-repeat="report in reports track by $index" value="{{report.report_name}}">{{report.report_name}}</option>
	            </select>
            </div>
		</div>
		<div class="col-sm-4">
			<b>Location</b>

			<p>Select State</p>
            <select name="state" chosen search-contains="true" placeholder-text-single="'Select state'"
                    ng-model="filter.marketLocationState" class="form-control">
				<option value="">Select state</option>
                <option ng-repeat="state in marketLocationStates track by $index" value="{{state}}">{{state}}</option>
            </select>

			<p>Select Market Location</p>
            <select name="state" chosen search-contains="true" placeholder-text-single="'Select market location'"
                    ng-model="filter.marketLocation" class="form-control">
				<option value="">Select state</option>
                <option ng-repeat="marketLocation in marketLocations track by $index" value="{{marketLocation.market_name}}">{{marketLocation.market_name}}</option>
            </select>
		</div>
		<div class="col-sm-4">
			<b>Time</b>

			<p>Select From Date</p>
            <custom-datepicker date-model="filter.reportFromDate" date-object="true" max-date="reportMaxDate"></custom-datepicker>

			<p>Select To Date</p>
            <custom-datepicker date-model="filter.reportToDate" date-object="true" max-date="reportMaxDate"></custom-datepicker>

			<p>Select period</p>
            <select name="period" chosen search-contains="true" placeholder-text-single="'Select period'"
                    ng-model="filter.period" class="form-control">
				<option value="">Select period</option>
                <option ng-repeat="period in periods track by $index" value="{{period.name}}">{{period.name}}</option>
            </select>
		</div>

		<div class="col-sm-12 action-bar">
			<div class="col-sm-8 pull-left" style="color: red;">
				<p ng-repeat="errMsg in errMessages track by $index">{{errMsg}}</p>
			</div>
			<div class="col-sm-2 pull-right">
				<a class="btn mars-form-control form-control" ng-click="getData()">GET DATA</a>
			</div>
			<div class="col-sm-2 pull-right">
				<a class="btn mars-form-control form-control" ng-click="clearFilter()">CLEAR</a>
			</div>
		</div>
	</div>
</div>