// Buttons
.btn {
  border-radius: 4px;
  border: 1px solid #979797;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 21px;

  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 19px;

  display: inline-block;

  &:hover {
    color: #000000;
  }

  &.btn-default {
    background-image: -o-linear-gradient(0deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(0deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(0deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    background-image: linear-gradient(0deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);

    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.14), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.42), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.53);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.42), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.53);

    &:active {
      background-color: #EDEDED;
      background-image: none;

      /* Rectangle 20: */
      background-image: -o-linear-gradient(0deg, #A1C5EB 0%, #649FEC 46%, #4191EC 53%, #94C4EB 100%);
      background-image: -moz-linear-gradient(0deg, #A1C5EB 0%, #649FEC 46%, #4191EC 53%, #94C4EB 100%);
      background-image: -ms-linear-gradient(0deg, #A1C5EB 0%, #649FEC 46%, #4191EC 53%, #94C4EB 100%);
      background-image: linear-gradient(0deg, #A1C5EB 0%, #649FEC 46%, #4191EC 53%, #94C4EB 100%);
      border: 1px solid #557BC8;
    }
  }

  &.btn-primary {
    border-top-color: #595b71;
    border-bottom-color: #515268;
    border-left-color: #56586f;
    border-right-color: #56586f;
    background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0, #D3F7FD),
                    color-stop(0.5, #87C5FB),
                    color-stop(0.5, #A1D1F9),
                    color-stop(1, #D4E9FC)
    );
    //background-image: -moz-linear-gradient(
    //                center bottom,
    //                #D3F7FD 0%,
    //                #87C5FB 50%,
    //                #A1D1F9 50%,
    //                #D4E9FC 100%
    //);
    -webkit-animation-name: blinking;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -moz-animation-name: blinking;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 1s;
    animation-name: blinking;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;

    &:active {
      background-color: #EDEDED;
      background-image: none;

      /* Rectangle 20: */
      background-image: -o-linear-gradient(0deg, #A1C5EB 0%, #649FEC 46%, #4191EC 53%, #94C4EB 100%);
      background-image: -moz-linear-gradient(0deg, #A1C5EB 0%, #649FEC 46%, #4191EC 53%, #94C4EB 100%);
      background-image: -ms-linear-gradient(0deg, #A1C5EB 0%, #649FEC 46%, #4191EC 53%, #94C4EB 100%);
      background-image: linear-gradient(0deg, #A1C5EB 0%, #649FEC 46%, #4191EC 53%, #94C4EB 100%);
      border: 1px solid #557BC8;
    }
  }

  &.disabled {
    background-image: -o-linear-gradient(0deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(0deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(0deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    background-image: linear-gradient(0deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    border: 1px solid #979797;
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.14), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.42), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.53);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.14), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.42), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.53);
  }

  &.btn-capsule {
    border-radius: 40px;
    height: 16px;
    background-image: -o-linear-gradient(-89deg, #FBFBFB 0%, #DFDFDF 100%);
    background-image: -moz-linear-gradient(-89deg, #FBFBFB 0%, #DFDFDF 100%);
    background-image: -ms-linear-gradient(-89deg, #FBFBFB 0%, #DFDFDF 100%);
    background-image: linear-gradient(-179deg, #FBFBFB 0%, #DFDFDF 100%);
    border: 1px solid #979797;
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.14);

    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 11px;
    color: #000000;
    line-height: 14px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.50);

    &:active {
      background-color: #dadada;
      background-image: none;
    }

  }

  &.btn-sm {
    border-radius: 3px;
    background-image: -o-linear-gradient(89deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(89deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(89deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    background-image: linear-gradient(-1deg, #EDEDED 0%, #F3F3F3 50%, #FAFAFA 50%, #FFFFFF 100%);
    border: 1px solid #979797;
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.14), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.42), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.53);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.14), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.42), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.53);

    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 11px;
    color: #000000;
    line-height: 13px;

    display: inline-block;
    height: 16px;

    &:active {
      background-color: #dadada;
      background-image: none;
    }
  }

  &.btn-lg {
    height: 31px;
    line-height: 31px;
    font-size: 16px !important;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.btn-on-grey {

    /* Rectangle 21: */
    background-image: -o-linear-gradient(-89deg, #FDFDFD 0%, #ECECEC 100%);
    background-image: -moz-linear-gradient(-89deg, #FDFDFD 0%, #ECECEC 100%);
    background-image: -ms-linear-gradient(-89deg, #FDFDFD 0%, #ECECEC 100%);
    background-image: linear-gradient(-179deg, #FDFDFD 0%, #ECECEC 100%);
    border: 1px solid #8E8E8E;

    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 13px;

    min-width: 96px;

    &:active {

      /* Rectangle 21: */
      background-image: -o-linear-gradient(-89deg, #E6E6E6 0%, #E3E3E3 100%);
      background-image: -moz-linear-gradient(-89deg, #E6E6E6 0%, #E3E3E3 100%);
      background-image: -ms-linear-gradient(-89deg, #E6E6E6 0%, #E3E3E3 100%);
      background-image: linear-gradient(-179deg, #E6E6E6 0%, #E3E3E3 100%);
      border: 1px solid #8E8E8E;
      -moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.40);
      box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.40);
    }
  }

  &.btn-modern {
    border-radius: 4px;
    /* Rectangle 9: */
    background-color: #ffffff !important;
    background-image: none !important;
    /* Sketch doesnt export gradient borders at this point */
    -moz-box-shadow: 0px 1px 1px 0px rgba(255, 254, 255, 0.59), inset 0px 1px 2px 0px #FFFFFF;
    box-shadow: 0px 1px 1px 0px rgba(255, 254, 255, 0.59), inset 0px 1px 2px 0px #FFFFFF;

    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 12px;
    //list-style: 12px;
    color: #333;

    &:active, &.btn-sm:active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
    }

    span[class^="entypo-"], span[class*=" entypo-"] {
      font-size: 14px;
    }
  }

  &.btn-help {
    /* Oval 7: */
    background-image: -o-linear-gradient(-89deg, #FFFFFF 0%, #F3F3F3 50%, #ECECEC 50%, #F1F1F1 100%);
    background-image: -moz-linear-gradient(-89deg, #FFFFFF 0%, #F3F3F3 50%, #ECECEC 50%, #F1F1F1 100%);
    background-image: -ms-linear-gradient(-89deg, #FFFFFF 0%, #F3F3F3 50%, #ECECEC 50%, #F1F1F1 100%);
    background-image: linear-gradient(-179deg, #FFFFFF 0%, #F3F3F3 50%, #ECECEC 50%, #F1F1F1 100%);
    border: 1px solid #8D8D8D;
    border-radius: 30px;
    height: 21px;
    width: 21px;
    display: inline-block;
    color: #434343;
    padding: 0;
  }
}