// Forms
progress[value] {
  width: 100%;
}

input[type=text], input[type=password], input[type=email] {
  border-radius: 0 !important;
  padding: 0 3px !important;
  font-size: 13px !important;
  line-height: 13px !important;
  color: #39090a !important;
  height: 22px !important;

  /* Rectangle 6: */
  background: #FFFFFF;
  border: 1px solid #9B9B9B !important;
  border-top: 1px solid #8e8e8e !important;
  border-bottom: 1px solid #afafaf !important;
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.20) !important;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.20) !important;

  &::-webkit-input-placeholder {
    padding-top: 1px;
    color: #777777;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    padding-top: 1px;
    color: #777777;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    padding-top: 1px;
    color: #777777;
  }

  &:-ms-input-placeholder {
    padding-top: 1px;
    color: #777777;
  }

  &:focus {
    outline: none !important;
    border: 1px solid #6A9ECF !important;
    -moz-box-shadow: 0px 0px 2px 1px #71A5D6, inset 0px 0px 2px 1px #71A5D6 !important;
    box-shadow: 0px 0px 2px 1px #71A5D6, inset 0px 0px 2px 1px #71A5D6 !important;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }

}

select.select-large {
  font-size: 16px;
}

textarea {
  padding: 3px !important;
  font-size: 13px !important;
  color: #39090a !important;

  border: 1px solid #9B9B9B !important;
  border-top: 1px solid #8e8e8e !important;
  border-bottom: 1px solid #afafaf !important;
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.20) !important;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.20) !important;

  &:focus {
    outline: none !important;
    border: 1px solid #6A9ECF !important;
    -moz-box-shadow: 0px 0px 2px 1px #71A5D6, inset 0px 0px 2px 1px #71A5D6 !important;
    box-shadow: 0px 0px 2px 1px #71A5D6, inset 0px 0px 2px 1px #71A5D6 !important;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}

input[type=checkbox] {
  font-size: 20px;
  line-height: 20px;
  position: relative;
  top: -3px;
}

input[type=search] {
  -webkit-appearance: searchfield;
}

input.mvx-search {
  display: inline-block !important;
  border-radius: 13px !important;
  border: 1px solid #ffffff;

  /* Rectangle 11: */
  background: #FFFFFF;
  -moz-box-shadow: inset 0px -1px 0px 0px #C6C6C6, inset 0px 1px 0px 0px #A6A6A6, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.50);
  box-shadow: inset 0px -1px 0px 0px #C6C6C6, inset 0px 1px 0px 0px #A6A6A6, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.50);

  padding-left: 26px !important;
  padding-right: 22px !important;

  height: 24px !important;
}

span.search-input {
  span {
    color: #777777;
    position: relative;
    left: 12px;
    font-size: 16px;
  }
  input {
    margin-left: -12px;
  }
}

ul.dropdown-menu {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 16px;
  /* Alle löschen: */
  border-radius: 5px !important;

  a {
    line-height: 18px;
    padding: 0 20px;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }

  li.disabled a:hover {
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }

  a:hover {
    color: #ffffff;

    /* Rectangle 18: */
    background-image: -o-linear-gradient(-89deg, #6288F8 0%, #2261F6 100%);
    background-image: -moz-linear-gradient(-89deg, #6288F8 0%, #2261F6 100%);
    background-image: -ms-linear-gradient(-89deg, #6288F8 0%, #2261F6 100%);
    background-image: linear-gradient(-179deg, #6288F8 0%, #2261F6 100%);

    border-top: 1px solid #587FEE;
    border-bottom: 1px solid #0D52EB;
  }

}

span.on-badge {
  display: inline-block;
  border-radius: 5px;

  width: 10px;
  height: 10px;

  /* Oval 3: */
  background-image: -o-linear-gradient(-89deg, #A0D071 50%, #E5FC97 100%);
  background-image: -moz-linear-gradient(-89deg, #A0D071 50%, #E5FC97 100%);
  background-image: -ms-linear-gradient(-89deg, #A0D071 50%, #E5FC97 100%);
  background-image: linear-gradient(-179deg, #A0D071 50%, #E5FC97 100%);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.40), inset 0px 1px 1px 0px #426844, inset 0px 3px 0px 0px rgba(255, 255, 255, 0.50);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.40), inset 0px 1px 1px 0px #426844, inset 0px 3px 0px 0px rgba(255, 255, 255, 0.50);

}

span.off-badge {
  display: inline-block;
  border-radius: 5px;

  width: 10px;
  height: 10px;

  /* Oval 6: */
  background-image: -o-linear-gradient(-89deg, #FF2402 0%, #D61B00 49%, #FEC7C6 89%);
  background-image: -moz-linear-gradient(-89deg, #FF2402 0%, #D61B00 49%, #FEC7C6 89%);
  background-image: -ms-linear-gradient(-89deg, #FF2402 0%, #D61B00 49%, #FEC7C6 89%);
  background-image: linear-gradient(-179deg, #FF2402 0%, #D61B00 49%, #FEC7C6 89%);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.40), inset 0px 0px 2px 0px #785757, inset 0px -1px 1px 0px #6A0701;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.40), inset 0px 0px 2px 0px #785757, inset 0px -1px 1px 0px #6A0701;
}

.nfo {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 11px;
  color: #808080;
  line-height: 13px;
  /* Hier finden: */
}

table.table-content-block {
  width: 100%;

  td {
    vertical-align: top;
    padding: 0 2px;
    padding-bottom: 5px;

    &.td-label {
      width: 120px;
      text-align: right;
      padding-right: 5px;
    }

    &.td-actions {
      text-align: right;
    }
  }
}

span.entypo-right.maverix-circle {
  display: inline-block;
  background-color: #474747;
  color: #ffffff;
  border-radius: 50px;
  font-size: 8px;
  line-height: 10px;
  width: 10px;
  height: 10px;
  text-align: center;

  position: relative;
  top: -1px;
}

.indent {
  margin-left: 20px;
}

ul.list-unstyled {
  li {
    line-height: 22px;
  }

  select {
    position: relative;
    top: -2px;
  }

  input[type=checkbox] {
    position: relative;
    top: 0px;
  }
}

.grey-bg {
  background-color: #e8e8e8;

  .btn.btn-on-grey {
    margin: 0 4px;
  }
}

.toolbar-button {
  border-radius: 3px;
  height: 22px;
  display: inline-block;
  padding: 3px 12px;
  /* Rectangle 25: */
  background-image: -o-linear-gradient(-89deg, #F5F5F5 0%, #B3B3B3 100%);
  background-image: -moz-linear-gradient(-89deg, #F5F5F5 0%, #B3B3B3 100%);
  background-image: -ms-linear-gradient(-89deg, #F5F5F5 0%, #B3B3B3 100%);
  background-image: linear-gradient(-179deg, #F5F5F5 0%, #B3B3B3 100%);
  border: 1px solid #7E7E7E;
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.40);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.40);

  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-weight: normal;
  color: #404040;
  line-height: 14px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.40);

  &:hover {
    text-decoration: none;
    color: #404040;
  }

  &:active {
    color: #000000;

    border-radius: 3px;
    /* Rectangle 26: */
    background-image: -o-linear-gradient(-89deg, #B3B3B3 0%, #E8E8E8 100%);
    background-image: -moz-linear-gradient(-89deg, #B3B3B3 0%, #E8E8E8 100%);
    background-image: -ms-linear-gradient(-89deg, #B3B3B3 0%, #E8E8E8 100%);
    background-image: linear-gradient(-179deg, #B3B3B3 0%, #E8E8E8 100%);
    border: 1px solid #7E7E7E;

    -moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.40), 0px 1px 0px 0px rgba(255, 255, 255, 0.40);
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.40), 0px 1px 0px 0px rgba(255, 255, 255, 0.40);
  }
}

.toolbar {
  background-image: url("../images/grey-bg.png");
  height: 35px;
  padding: 6px 10px;

  border-top: 1px solid #5e5e5e;

  -moz-box-shadow: inset 0px 1px 0px 0px #E1E1E1;
  box-shadow: inset 0px 1px 0px 0px #E1E1E1;
}

.toolbar-off {
  background-image: url("../images/off-grey-bg.png");
  height: 34px;
  padding: 6px 10px;

  border-top-color: #9b9b9b;
  -moz-box-shadow: inset 0px 1px 0px 0px #F2F2F2;
  box-shadow: inset 0px 1px 0px 0px #F2F2F2;
}