<form class="form-inline">
    <div class="">
        <label class="hide" for="zipcodeLabel">Zipcode Label</label>
        <input id="zipcodeLabel" type="text" class="form-control" id="zipcodecity" placeholder="Enter Zip Code or City">
        <button type="submit" class="btn btn-default green-btn">Search</button>
        <button type="submit" class="btn btn-default green-btn pull-right">Reset</button>
    </div>
</form>

<div class="map-area">
    &nbsp; MAP AREA
</div>