<form>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="label1">Label 1</label>
                <select id="label1" class="chosen-select">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="label2">Label 2</label>
                <select id="label2" class="chosen-select">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="label3">Label 3</label>
                <select id="label3" class="chosen-select">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="label4">Label 4</label>
                <select id="label4" class="chosen-select">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="label5">Label 5</label>
                <select id="label5" class="chosen-select">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>

    <h4 class="header">Lorem Ipsum lorem</h4>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Lorem ipsum Lorem ipsum
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Lorem ipsum Lorem ipsum
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Lorem ipsum Lorem ipsum
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Lorem ipsum Lorem ipsum
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="header">Lorem Ipsum lorem</h4>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="label6">Label 6</label>
                <select id="label6" class="chosen-select">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="label7">Label 7</label>
                <select id="label7" class="chosen-select">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="label8">Label 8</label>
                <select id="label8" class="chosen-select">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
</form>

<div class="pull-right form-controls">
    <button type="submit" class="btn btn-default green-btn">Reset</button>
    <button type="submit" class="btn btn-default green-btn">Search</button>
</div>

