{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}

{#{% if breadcrumb %}#}
<div class="col-sm-6">
    {#{% if breadcrumb %}#}

    {#{% endif %}#}
    <ol class="breadcrumb">
        {% for item in breadcrumb %}
            <li {{ item.attributes }}>
                {% if item.url %}
                    <a href="{{ item.url }}">{{ item.text }}</a>
                {% else %}
                    {{ item.text }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</div>
{#{% endif %}#}