<div class="row">
    <div class="col-sm-8">
        <p class="teaser">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco cupidatat non proident, sunt in culpa qui officia.   dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco cupidatat non proident, sunt in culpa qui officia.
        </p>
    </div>
    <div class="col-sm-4">
        <div class="related-widget">
            <h4 class="header">Related Links</h4>
            <ul class="links-lists">
                <li>
                    <a href="#">MARS Video Tutorial &gt;</a>
                </li>
                <li>
                    <a href="#">MARS Glossary &gt;</a>
                </li>
                <li>
                    <a href="#">MARS WIKI &gt;</a>
                </li>
            </ul>
        </div>
    </div>
</div>