#headerTop {
  background: transparent; //$AMSGrassGreen;

  .right-section {
    .top-text, .bottom-text {
      text-align: right;
      a {
        color: $AMSWhite;
      }
      li {
        border-left: 1px solid $AMSWhite;
        font-size: 11px;
        line-height: 9px;
        &:first-child { border-left: none; }
      }
    }
  }
}