/*
 * Namespace: DTE - DataTables Editor - Bubble
 */
.DTE_Bubble {
  position: absolute;
  z-index: 11;
  margin-top: -6px;
  opacity: 0;

  // Processing
  &.DTE_Processing .DTE_Bubble_Liner:after {
    position: absolute;
    content: ' ';
    display: block;
    top: 12px;
    right: 18px;
    height: 12px;
    width: 17px;
    background: url("../images/ajax-loader-small.gif") no-repeat top left;
  }

  // Linear
  &_Liner {
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    width: auto;
    min-width: 200px;
    margin-left: -150px;
    background-color: white;
    box-shadow: 2px 2px 7px #555;
    border-radius: 5px;
    border: 2px solid #444;
    padding: 1em;
    @include box-sizing(border-box);

    .DTE_Bubble_Table {
      display: table;
      width: 100%;
      & > form {
        display: table-cell;
        .DTE_Form_Content {
          padding: 0;
          .DTE_Field {
            position: relative;
            zoom: 1;
            margin-bottom: 0.5em;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .DTE_Form_Buttons {
          display: table-cell;
          vertical-align: bottom;
          padding: 0 0 0 0.75em;
          width: 1%;
        }
      }
    }

    .DTE_Header {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      & + div.DTE_Form_Info, & + div.DTE_Bubble_Table {
        padding-top: 42px;
      }
    }
    .DTE_Form_Error {
      float: none;
      display: none;
      padding: 0;
      margin-bottom: 0.5em;
    }
    .DTE_Bubble_Close {
      position: absolute;
      top: -11px;
      right: -11px;
      width: 22px;
      height: 22px;
      border: 2px solid white;
      background-color: black;
      text-align: center;
      border-radius: 15px;
      cursor: pointer;
      *cursor: hand;
      z-index: 12;
      @include box-shadow(2px 2px 6px #111);
      &:after {
        content: '\00d7';
        color: white;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
      }
      &:hover {
        background-color: #092079;
        box-shadow: 2px 2px 9px #111;
      }
    }
  }

  // Triangle
  &_Triangle {
    position: absolute;
    height: 10px;
    width: 10px;
    top: -6px;
    background-color: white;
    border: 2px solid #444;
    border-top: none;
    border-right: none;
    @include transform(rotate(-45deg));

  }

  // Background
  &_Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    @include radial-gradient-b(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    z-index: 10;

    & > div {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}