/* Responsive */
@media only screen and (max-width: 768px) {
  .DTE_Body .DTE_Body_Content .DTE_Field {
    padding: 5px 10%;
  }
}
@media only screen and (max-width: 640px) {
  .DTE_Body .DTE_Body_Content .DTE_Field {
    padding: 5px 0;
  }
}
@media only screen and (max-width: 580px) {
  .DTE_Body .DTE_Body_Content .DTE_Field {
    position: relative;
    zoom: 1;
    clear: both;
    padding: 5px;
    & > label {
      float: none;
      width: auto;
      padding-top: 0;
    }
    & > .DTE_Field_Input {
      float: none;
      width: auto;
    }
  }
}
@media only screen and (max-width: 780px) {
  .DTED_Lightbox_Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
  }
}