<div id="newsView" class="news-view">

    {% for i in 0..10 %}
        <div class="news-row clearfix">
            <div class="image-block">
                <a href="http://placehold.it"><img src="http://placehold.it/150x150" alt="placeholder-image"></a>
            </div>
            <div class="news-block">
                <div class="teaser">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                </div>
                <a class="display-block" href="#">Full Report</a>
                <div class="years">
                    <a href="#">2013</a>
                    <span class="separator"></span>
                    <a href="#">2005</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

