{% set container = 'container-fluid' %}

<header id="breadcrumbBar" role="navigation">
    <div class="{{ container }}">
        {% if page.breadcrumb %}
            {% block breadcrumb %}
                {{ page.breadcrumb }}
            {% endblock %}
        {% endif %}
    </div>
</header>